

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
  position: relative;
  background-color: #e8f7fa;
}



.container {
  text-align: center;
  margin: 0 auto;
  
  max-width: 1400px;

  
  color: rgb(250, 245, 245);

  padding: 20px;
  

  
}

header{
min-height: 700px;
  padding: 100px 20px;

  background-image: linear-gradient(rgba(0,0,0,0.4) ,rgba(0,0,0,0.4)), 
  url("images/logo.pt.png");
  background-size: 350 px;
  background-repeat: no-repeat;
  background-position: center center;
  
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
}